{% extends 'admin.html.twig' %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    <ul id="role-fields-list"
        data-prototype="{{ form_widget(form.roles.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.children|length }}">
        {% for roleField in form.roles %}
            <li>
                {{ form_errors(roleField) }}
                {{ form_widget(roleField) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget"
            data-list-selector="#role-fields-list">Add another role</button>
    {{ form_end(form) }}
    <a href="{{ path('listAdmin') }}">Back</a>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                var counter = list.data('widget-counter') | list.children().length;

                var newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data('widget-counter', counter);

                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
</div>
{% endblock %}
