{% extends 'admin.html.twig' %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Orders(<a href="{{ path('createOrder') }}">Create new</a>)</h1>
    <h3><a href="{{ path('statisticsOrder') }}">View statistics</a> <a href="{{ path('entityList') }}">Back to list</a></h3>

    <table>
        <tr>
            <th>Status</th>
            <th>User Id</th>
            <th>Created date</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {%   for order in orders %}
            <tr>
                <td>{{ order.status }}</td>
                <td>{{ order.user.id }}</td>
                <td>{{ order.createdDate.date }}</td>
                <td>{{ order.laterPrice }}</td>
                <td>
                    <a href="{{ path('editOrder', { 'id': order.id }) }}">Edit</a>
                    <a href="{{ path('removeOrder', { 'id': order.id }) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}
