{% extends 'admin.html.twig' %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Statistics</h1>
    <h3><a href="{{ path('listOrder') }}">Back to list</a></h3>

    <table>
        <tr>
            <th>Date</th>
            <th>Count</th>
            <th>Users</th>
            <th>Price</th>
        </tr>
        {% for date, orders in statistics.ordersByDate %}
            <tr>
                <td>{{ date }}</td>
                <td>{{ orders.countOrders }}</td>
                <td>{{ orders.countUsers }}</td>
                <td>{{ orders.price }}</td>
            </tr>
        {% endfor %}

        {% for status, orders in statistics.ordersByStatus %}
            <tr>
                <th>{{ status|capitalize }} orders</th>
                <td>{{ orders.countOrders }}</td>
                <th>Price</th>
                <td>{{ orders.price }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
