{% extends 'admin.html.twig' %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Statistics</h1>
    <h3><a href="{{ path('listOrder') }}">Back to list</a></h3>

    <table>
        <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Count</th>
            <th>Price</th>
            <th>Users</th>
        </tr>
        {%   for day in statistics %}
            <tr>
                <td>{{ day.date }}</td>
                <td>All</td>
                <td>{{ day.created }}</td>
                <td>{{ day.allPrice }}</td>
                <td>{{ day.usersCreated }}</td>
            </tr>
            <tr>
                <td></td>
                <td>Success</td>
                <td>{{ day.successCreated }}</td>
                <td>{{ day.successPrice }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Waiting</td>
                <td>{{ day.waitingCreated }}</td>
                <td>{{ day.waitingPrice }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Canceled</td>
                <td>{{ day.canceledCreated }}</td>
                <td>{{ day.canceledPrice }}</td>
                <td></td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}
