{% extends 'admin.html.twig' %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Statistics</h1>
    <h3><a href="{{ path('listOrder') }}">Back to list</a></h3>

    <table>
        <tr>
            <th>Date</th>
            <th>Count</th>
            <th>Users</th>
            <th>Price</th>
        </tr>
        {%   for day in statistics %}
            <tr>
                <td>{{ day.date }}</td>
                <td>{{ day.created }}</td>
                <td>{{ day.usersCreated }}</td>
                <td>{{ day.allPrice }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Success orders</th>
            <td>{{ success.created }}</td>
            <th>Price</th>
            <td>{{ success.price }}</td>
        </tr>
        <tr>
            <th>Cancelled orders</th>
            <td>{{ canceled.created }}</td>
            <th>Price</th>
            <td>{{ canceled.price }}</td>
        </tr>
        <tr>
            <th>Waiting orders</th>
            <td>{{ waiting.created }}</td>
            <th>Price</th>
            <td>{{ waiting.price }}</td>
        </tr>
    </table>
</div>
{% endblock %}
