{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Users(<a href="{{ path('createUser') }}">Create new</a>)</h1>

    <table>
        <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {%   for user in users %}
            <tr>
                <td>{{ user.getFirstName() }}</td>
                <td>{{ user.getSecondName() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>
                    <a href="{{ path('editUser', {'id': user.getId()}) }}">Edit</a>
                    <a href="{{ path('removeUser', {'id': user.getId()}) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}
